* {
    box-sizing: border-box;
    margin: 0;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: "BitcountGridSingle_Regular";
    src: url("./fonts/BitcountGridSingle-Regular.ttf");
}

@font-face {
    font-family: "Open_Sonc_Regular";
    src: url("./fonts/OpenSans_Condensed-Regular.ttf");
}


h1 {
    font-size: 50px;
    font-family: "BitcountGridSingle_Regular";
    color: white;
}


h2 {
    font-size: 50px;
    font-family: "Open_Sonc_Regular";
    text-align: center;
}

h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


h4 {
    font-size: 30px;
    padding-top: 15px;
    font-family: "Open_Sonc_Regular";
    text-align: center;
    padding-bottom: 30px;
}

h5 {
    font-size: 20px;
    padding-top: 15px;
    font-family: "Open_Sonc_Regular";
    text-align: center;
    padding-bottom: 30px;
}

h6 {

    font-size: 50px;
    padding-top: 10px;
    font-family: "Open_Sonc_Regular";
    text-align: center;
    padding-bottom: 30px;

}


p {
    font-size: 20px;
    font-family: "Open_Sonc_Regular";
    text-align: center;
    padding-top: 10px;
}


.header_main {
    background-color: #003773;
    width: 100%;
    padding: 50px 20px;
    border-bottom: 2px solid black;
    height: 150px;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.nav_links_mobile {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: "Open_Sonc_Regular";
}

.nav_links_mobile:hover {
    background-color: rgba(211, 211, 211, 0.178);
    border-radius: 6px;
}

#fotogram_logo {
    width: 250px;
}

.nav_links_dektop {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav_links_dektop:hover {
    background-color: rgba(211, 211, 211, 0.404);
    border-radius: 6px;
}


main {
    background-color: #054B96;
}

.fotter_main {
    background-color: #003773;
    height: 100px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;

    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.main_container {
    padding: 40px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    max-width: 1440px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 100vh;
}

.imgs_container_main {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 30px;

    /*    Bild füllt den Container komplett aus und schneidet überstehende Teile ab */
    object-fit: cover;
}

.imgs_container_dialog {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 40px;

    /*    Bild füllt den Container komplett aus und schneidet überstehende Teile ab */
    object-fit: cover;
}

.imgs_container_main:hover {
    cursor: pointer;
    box-shadow: 0px 6px 26px 15px white;
}


.dialog {
    /*    Das Element nimmt die ganze Breite seines Containers ein und beginnt in einer neuen Zeile */
    display: block;
    /* Das Element bleibt immer an einer festen Position auf dem Bildschirm,
    auch beim Scrollen der Seite  */
    position: fixed;
    top: 50%;
    left: 50%;

    /*    Verschiebt das Element um 50% seiner eigenen Breite nach links und 50% seiner Höhe nach oben */
    transform: translate(-50%, -50%);

    width: 700px;
    height: 800px;
    background-color: #054B96;
    border-radius: 4px;
}

.show_more_dialog {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background-color: #054B96;
    border-radius: 4px;
}

.show_more_dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}


.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 2px solid black;
}

.show_more_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.close_button {
    background-color: white;
    font-size: 25px;
    border: 1px solid black;
    height: 60px;
    width: 60px;
    background-color: #054B96;
    border-radius: 4px;
    color: white;
}

.close_button:hover {
    background: #003773;
    cursor: pointer;
}

.dialog_arrow_btn {
    font-size: 25px;
    border: 2px solid black;
    height: 60px;
    width: 60px;
    border-radius: 8px;
    color: white;
    background-color: #054B96;
    padding-left: 10px;
    padding-right: 10px;
}

.dialog_arrow_btn:hover {
    background-color: #003773;
    cursor: pointer;
}

.dialog_main {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.description_dialog {
    padding: 10px;
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
    background-color: #054386;
    border: 1px solid black;
    border-radius: 8px;
    padding-top: 15px;
    margin-bottom: 15px;
}

.show_more_btn {
    background-color: #003773;
    color: white;
    border: 0;
    font-size: 20px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

.show_more_btn:hover {
    cursor: pointer;
    background-color: #054386;
}

.img_button {
    height: 40px;
    cursor: pointer;
}

.imgs_style {
    width: 1px;
    height: 1px;
}

.mobile_nav_container {
    display: none;
}

.mobile_nav_img {
    width: 50px;
    height: 50px;
}

.mobile_nav_img:hover {
    background-color: darkgray;
    cursor: pointer;
    border-radius: 8px;
}

.open_nav_mobile {
    width: 100%;
    height: 120px;
    background-color: black;
}

.d_none {
    display: none;
}

.hidden {
    overflow-y: hidden;
}

.counter_number {
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 15px;
    width: 100px;
    background-color: #054386;
    cursor: default;
}

.nextButton_stlye {
    font-size: 20px;
    background-color: #003773;
    border: 1px solid black;
    margin-top: 10px;
    padding: 15px 15px;
    border-radius: 15px;
    width: 100px;
}

.nextButton_stlye:hover {
    background-color: #054386;
    cursor: pointer;
}

.dialog_footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}



@media(max-width: 1100px) {
    #fotogram_logo {
        display: none;
    }
}


@media(max-width: 850px) {

    #fotogram_logo {
        display: none;
    }

    .dialog {
        width: 650px;
        height: 750px;
    }

    .description_dialog {
        font-size: 16px;
    }

    .imgs_container_dialog {
        width: 250px;
        height: 250px;
    }

    .nav_links_dektop {
        display: none;
    }

    .mobile_nav_container {
        display: flex;
    }

    .nav_container {
        display: flex;
        align-items: center;
    }
}

@media(max-width: 750px) {


    .description_dialog {
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media(max-width: 670px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .main_container {
        padding-left: 50px;
        padding-right: 50px;
        padding: 20px;
    }

    .dialog_main {
        gap: 30px;
        padding-left: 40px;
        padding-right: 40px;
        justify-content: center;
    }

    .description_dialog {
        font-size: 16px;
        text-align: center;
    }

    .imgs_container_dialog {
        width: 200px;
        height: 200px;
    }
}


@media (max-width: 500px) {
    .description_dialog {
        font-size: 16px;
        text-align: center;
    }

    .dialog_main {
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .dialog_arrow_btn {
        font-size: 16px;
        height: 50px;
        width: 50px;
    }

    .imgs_container_dialog {
        width: 150px;
        height: 150px;
    }
}


@media(max-width: 370px) {
    
    .imgs_container_main {
        width: 250px;
        height: 250px;
    }

    .show_more_btn {
        width: 250px;
    }

    .mobile_nav_img {
        width: 40px;
        height: 40px;
    }

    .dialog {
        height: 850px;
    }

    h1 {
        font-size: 30px;
    }

    .show_more_header {
        padding-bottom: 15px;
    }
}

@media(max-width: 340px) {
    h2 {
        font-size: 23px;
    }

    .dialog_arrow_btn {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .dialog {
        height: 800px;
    }
}