* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto_VariableFont";
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


textarea {
    height: 100px;
}